button{
    margin: 20px 50px 5px;
    }

.search{
    border-color: darkcyan;
    padding: 5px 60px;
    border-radius: 50px;
    border-width: 2px;
    border-style:solid ;
    font-weight: bold;
    color: darkcyan;
}

.pluss{
    font-size: 20;
    border-radius: 50%;
    background-color: #00d1b2;
    border-style: solid;
    border-color: #00d1b2;
    color:white;
    font-weight: lighter;
    border-width: 8px;
}

.create{
    font-size: 16;
    font-weight:lighter;
    padding: 7px 50px;
    background-color: rgb(94, 94, 255);
    box-shadow: 4px 5px black; 
    color: white;
    border-color: black;
    border-style: solid;
       

}
